@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Barbarians</h1>
    <p>Go on various adventures to collect rescources and craft the best armors and weapons.</p>
    <p>Face other players in the arena and if you manage to best them enjoy the pleasures of the glittering gold you steal from them.</p>
</div>
