@{
    ViewData["Title"] = "Gathering";
}

<h1>Choose an exploring mission to gather resources:</h1>

<hr />

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group-vertical mr-2" role="group" aria-label="First group">
        <h3>Woods:</h3>
        <button type="button" class="btn btn-secondary">Woods of Deloria (90%)</button>
        <button type="button" class="btn btn-secondary">Woods of Forgotten souls (50%)</button>
        <button type="button" class="btn btn-secondary">Shadowforest (10%)</button>
    </div>
    <hr />
    <div class="btn-group-vertical mr-2" role="group" aria-label="Second group">
        <h3>Mines:</h3>
        <button type="button" class="btn btn-secondary">Copper mines (90%)</button>
        <button type="button" class="btn btn-secondary">Goblins gathering grounds (50%)</button>
        <button type="button" class="btn btn-secondary">Lithium mines (10%)</button>
    </div>
    <hr />
    <div class="btn-group-vertical" role="group" aria-label="Third group">
        <h3>Spiders den:</h3>
        <button type="button" class="btn btn-secondary">Weavers chambers (90%)</button>
        <button type="button" class="btn btn-secondary">Silk road den (50%)</button>
        <button type="button" class="btn btn-secondary">Vipers valley (10%)</button>
    </div>
</div>