@{
    ViewData["Title"] = "Gathering";
}

<h1>Choose an exploring mission to gather resources:</h1>

<hr />

<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group-vertical mr-2" role="group">
        <h3>Woods:</h3>
        <form class="btn-group" method="post" asp-controller="Character" asp-action="Gather">
            <input type="hidden" name="material" value="Wood" />
            <input type="hidden" name="difficulty" value="Easy" />
            <input type="submit" class="btn btn-secondary" name="" value="Woods of Deloria - T1" />
        </form>
        <form class="btn-group" method="post" asp-controller="Character" asp-action="Gather">
            <input type="hidden" name="material" value="Wood" />
            <input type="hidden" name="difficulty" value="Medium" />
            <input type="submit" class="btn btn-secondary" name="" value="Woods of Forgotten souls - T2" />
        </form>
        <form class="btn-group" method="post" asp-controller="Character" asp-action="Gather">
            <input type="hidden" name="material" value="Wood" />
            <input type="hidden" name="difficulty" value="Hard" />
            <input type="submit" class="btn btn-secondary" name="" value="Shadowforest - T3" />
        </form>
    </div>
    <hr />
    <div class="btn-group-vertical mr-2" role="group">
        <div class="btn-group-vertical mr-2" role="group">
            <h3>Mines:</h3>
            <form class="btn-group" method="post" asp-controller="Character" asp-action="Gather">
                <input type="hidden" name="material" value="Metal" />
                <input type="hidden" name="difficulty" value="Easy" />
                <input type="submit" class="btn btn-secondary" name="" value="Copper mines - T1" />
            </form>
            <form class="btn-group" method="post" asp-controller="Character" asp-action="Gather">
                <input type="hidden" name="material" value="Metal" />
                <input type="hidden" name="difficulty" value="Medium" />
                <input type="submit" class="btn btn-secondary" name="" value="Goblins gathering grounds - T2" />
            </form>
            <form class="btn-group" method="post" asp-controller="Character" asp-action="Gather">
                <input type="hidden" name="material" value="Metal" />
                <input type="hidden" name="difficulty" value="Hard" />
                <input type="submit" class="btn btn-secondary" name="" value="Lithium mines - T3" />
            </form>
        </div>
    </div>
    <hr />
    <div class="btn-group-vertical" role="group">
        <div class="btn-group-vertical mr-2" role="group">
            <h3>Spiders den:</h3>

            <form class="btn-group" method="post" asp-controller="Character" asp-action="Gather">
                <input type="hidden" name="material" value="Cloth" />
                <input type="hidden" name="difficulty" value="Easy" />
                <input type="submit" class="btn btn-secondary" name="" value="Weavers chambers - T1" />
            </form>
            <form class="btn-group" method="post" asp-controller="Character" asp-action="Gather">
                <input type="hidden" name="material" value="Cloth" />
                <input type="hidden" name="difficulty" value="Medium" />
                <input type="submit" class="btn btn-secondary" name="" value="Silk road den - T2" />
            </form>
            <form class="btn-group" method="post" asp-controller="Character" asp-action="Gather">
                <input type="hidden" name="material" value="Cloth" />
                <input type="hidden" name="difficulty" value="Hard" />
                <input type="submit" class="btn btn-secondary" name="" value="Vipers valley - T3" />
            </form>
        </div>
    </div>
</div>
