@{
    ViewData["Title"] = "Character";
}
@model Barbarians.ViewModels.Character.CharacterViewModel;

    <div class="table table-dark">
        <div class="row" style="">
            <div class="col-sm" style="text-align:center">
                @Model.Username
            </div>
        </div>
        <div class="row" style="">
            <div class="col-sm" style="text-align:center">
                Health: ---
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm" style="text-align:center">
                @foreach (var material in Model.Materials)
                {
                    <div>@material.Name : @material.Count</div>
                }
            </div>

            <div class="col-sm" style="text-align:center">
                asdasdasdasd

                asdasd
                asdasdasd
                asdasd
            </div>
        </div>
    </div>


