@using Microsoft.AspNetCore.Identity
@using Barbarians.Data.GlobalEnums
@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Barbarians - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Barbarians</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Character" asp-action="Index">Character</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Character" asp-action="Gather">Gather</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                   asp-controller="Blacksmith" asp-action="Index">
                                    Blacksmith
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-area="" asp-controller="Blacksmith" asp-action="Index" asp-route-craft="Chest">Chest armor</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Blacksmith" asp-action="Index" asp-route-craft="Leggings">Leggings</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Blacksmith" asp-action="Index" asp-route-craft="Boots">Boots</a>
                                    <a class="dropdown-item" asp-area="" asp-controller="Blacksmith" asp-action="Index" asp-route-craft="Weapons">Weapons</a>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Arena" asp-action="Index">Arena</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Healer" asp-action="Index">Healer</a>
                            </li>

                            if (this.User.IsInRole(IdentityRoles.OwnerRoleName) ||
                                this.User.IsInRole(IdentityRoles.AdministratorRoleName))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle text-dark" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Admin
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-area="Administration" asp-controller="Panel" asp-action="AddArmor">Add new armor</a>
                                        <a class="dropdown-item" asp-area="Administration" asp-controller="Panel" asp-action="AddWeapon">Add new weapon</a>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Barbarians - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
